p{
	color:floralwhite;
	background-color: black;
	text-shadow:1px 0 0 #000 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
    front-seize:10px;
}

h1{
	color:white;
	text-align: center;
	front-family:mv boli;
	background-color: black;
	c
    front-seize:200px;
}

body{
	background-image: url("bleu.jfif");

}
 a{
 	background-color: darkblue;
 	color: white;
 }
